.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    min-width: 500px;
    padding-bottom: 0.5em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    height: calc(30% - 1rem);
}

 .header svg, .newAccountHeader svg{
    margin: 1rem 0.75rem 0.75rem 0.75rem;
}

 .header span, .newAccountHeader span{
    font-size: 1.75rem;
    padding-top: 1rem;
}

 .header > span:nth-child(3), .newAccountHeader > span:nth-child(3) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* body */
.authForm{
    height: 70%;
}

 .loginBody{
    padding: 1rem 0;
    /* 0.5rem for <p> margin, 4rem for <input> margin 1rem for footer */
    height: calc(60% - 5.5rem); 
    width: 100%;
}

.loginBody p{
    margin: 0.2rem 1.05rem;
}

.redirectAuthSpan{
    padding-left: 0.5rem;
}

.redirectAuthSpan:hover{
    text-decoration: underline;
    cursor: pointer;
}

.authenticationLabel{
    text-align: left;
    color: orangered;
    font-size: 0.9rem;
}

.errorMessagesContainer{
    display: flex;
    flex-direction: column;
    display: inline-flex;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.authButton{
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 1rem;
}

/* footer */
.loginFooter{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 97.5%;
    height: 40%;
    padding: 0.5rem 0rem;
}

.loginFooter button{
    width: 4rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    background: transparent;
    font-weight: semibold;
}

.loginFooter button:hover{
    background: #FFAF45;
    color: white;
}

@media screen and (max-width: 576px){
    .loginContainer{
        width: 90vw;
        min-width: 325px;
    }

    .header span, .newAccountHeader span{
        font-size: 1.5rem !important;
        margin-top: 0.25rem;
    }
}

