.grayBoxShadow{
    box-shadow: 0 0 10px gray;
}

.lightGrayBoxShadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orangeBackground{
    background-color: #FFAF45;
    color: white;
}

.orangeFont{
    color: #FFAF45;
}

.whiteFont{
    color: white;
}

.grayFont{
    color: gray;
}

.lightGrayFont{
    color: gray;
}

.redFont{
    color: red;
}

.grayBorder{
    border: 1px solid lightgray;
}
