body{
    margin: 0;
}

main{
    height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(87.5% - 3rem);
}

svg, input, button, a{
    cursor: pointer;
}

a, svg{
    color: white;
    background-color: #FFAF45;
}

svg:hover, a:hover{
    color: black;
}

svg{
    width: 2rem;
    height: 2rem;
}