.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-bottom: 0.5em;
    position: absolute;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header */

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    height: 40%;
}

 .header svg{
    font-size: 3rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
}

 .header span{
    font-size: 1.75rem;
    padding-top: 0.75rem;
}

 .header > span:nth-child(3) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* body */

 .body{
    padding: 1rem 0;
    height: 50%;
    width: 100%;
}

.inputContainer{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body input{
    width: 90%;
    height: 2rem;
}

.inputLabel{
    position: absolute;
    left : 2.5rem;
    margin-top: 0.5rem;
}

.authenticationLabel{
    justify-content: flex-start;
    display: none;
}

/* footer */

.footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
    height: 10%;
}

.footer button{
    width: 4rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    background: transparent;
    font-weight: semibold;
}

.footer button:hover{
    background: #FFAF45;
    color: white;
}

