/* new account styling */
.newAccountContainer{
    width: 60vw;
    height: 60vh !important;
    top: 40vh !important;
}

.newAccountHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    min-height: 10vh;
}

.newAccountBody > p{
    margin: 1.25rem 0rem 1.5rem 1.5rem;
}

.newAccountInputContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem;
}

@media screen and (max-width: 1200px){
    .newAccountContainer{
        top: 50vh !important;
        height: 80vh !important;
    }
}

@media screen and (max-width: 768px){
    .newAccountContainer{
        width: 95vw;
    }
}
