/* new account styling */
.newAccountContainer{
    width: 60vw;
    top: 30vw;
}

.newAccountHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    height: 10vh;
    min-height: 10vh;
}

.newAccountBody > p{
    margin: 1.25rem 0rem 1.5rem 1.5rem;
}

.newAccountInputContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem;
}

.selectContainer{
    margin: auto 0;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.selectContainer > select{
    width: 15.5rem;
    font-size: 3rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1280px){
    .newAccountContainer{
        height: 65vw!important;
        min-height: 65vw!important;
        top: 40vw;
        overflow: hidden;
    }
}